In [ ]:
#1 Arithmatic operaters
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
print("Addition: ", num1+num2)
print("Subtraction: ", num1-num2)
print("Multiplication: ", num1*num2)
print("Division: ", num1/num2)
print("Modulus: ", num1%num2)
print("Exponent: ", num1**num2)
print("Floor Division: ", num1//num2)

Enter first number: 1
Enter second number: 2
Addition:  3
Subtraction:  -1
Multiplication:  2
Division:  0.5
Modulus:  1
Exponent:  1
Floor Division:  0

In [ ]:
#2 camparison operaters
x=int(input("Enter first number: "))
y=int(input("Enter second number: "))
if x>y:
    print(x,"is greater than",y)
else:
  if x<y:
    print(y,"is greater than",x)
  else:
    print(x,"is equal to",y)

Enter first number: 6
Enter second number: 8
8 is greater than 6

In [ ]:
#logical operaters
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
c = int(input("Enter third number: "))
print(a and b and c)#all true so last number only will print
print(a or b or c)#all true so first no. will print
print(not a) # all values are non zero values so it'll print false
print(not b)
print(not c)

Enter first number: 7
Enter second number: 8
Enter third number: 9
9
7
False
False
False

In [ ]:
#string  manipulation
l = str(input("Enter a string: "))
print(l[::-1])#it will print string from end character
print(l[3:])# endth character
print(l.upper())
print(l.lower())

Enter a string: yash
hsay
h
YASH
yash

In [ ]:
#substring search
s = str(input("Enter a sentance: "))
sub = str(input("write a world u want search: "))
if sub in s:
    print("found at")
else:
    print("not found")

Enter a sentance: this is the simulation game
write a world u want search: game
found at

In [ ]:
#string formatting
name = str(input("Enter your name: "))
age = int(input("Enter your age: "))
print("Hello {} , you are {} years old".format(name,age))# it will print name n age according to given format

Enter your name: yash
Enter your age: 21
Hello yash , you are 21 years old

In [ ]:
#list operations
list1 = list(map(int, input("Enter numbers separated by spaces: ").split()))
print(sum(list1))#map is a function that takes an argument and split() method
                  #called for string obtained and it splits the string at each space.
print(max(list1))
print(min(list1))

Enter numbers separated by spaces: 12 34 54 34 89 78
301
89
12

In [ ]:
#list manipulations
list2 = ["mango","apple","pineapple","bannana","orange"]
list2.append("grapes")
print(list2)
list2.remove(list2[1])# it will remove the first item from the list
print(list2)

['mango', 'apple', 'pineapple', 'bannana', 'orange', 'grapes']
['mango', 'pineapple', 'bannana', 'orange', 'grapes']

In [ ]:
#sorting list
list3 = list(map(int, input("Enter numbers separated by spaces: ").split()))
list3.sort()
print(list3)#print list in ascending order
list3.sort(reverse=True) #print list in descending order
print(list3)

Enter numbers separated by spaces:  5 4 3 7 3 6 3 7 3
[3, 3, 3, 3, 4, 5, 6, 7, 7]
[7, 7, 6, 5, 4, 3, 3, 3, 3]

In [ ]:
#list slicing
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(list1[0:5])# it will print first five no.
print(list1[5:10])# it will print last five no.
print(list1[2:7])# it will print from index 2 to index7

[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[3, 4, 5, 6, 7]

In [2]:
#Bouns
# Initialize an empty list to store student data
student_data = []

# Input data for 3 students
for i in range(3):
    name = input(f"Enter name of student {i + 1}: ")
    scores = []
    for j in range(3):
        score = float(input(f"Enter score for subject {j + 1}: "))
        scores.append(score)
    student_data.append([name, scores])

# Calculate and print average scores
for student in student_data:
    name = student[0]
    scores = student[1]
    average_score = sum(scores) / len(scores)
    print(f"{name}'s average score: {average_score}")56

Enter name of student 1: y
Enter score for subject 1: 34
Enter score for subject 2: 6
Enter score for subject 3: 76
Enter name of student 2: a
Enter score for subject 1: 45
Enter score for subject 2: 65
Enter score for subject 3: 78
Enter name of student 3: c
Enter score for subject 1: 67
Enter score for subject 2: 54
Enter score for subject 3: 6
y's average score: 38.666666666666664
a's average score: 62.666666666666664
c's average score: 42.333333333333336